<configuration>
    <conversionRule conversionWord="limitedMsg"
                    converterClass="com.epam.drill.admin.util.MsgConverter" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %limitedMsg%n</pattern>
        </encoder>
    </appender>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-DEBUG}" />
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="info"/>
    <logger name="io.netty" level="info"/>
    <logger name="Application" level="info"/>
    <!--    database logs: -->
    <logger name="Exposed" level="info"/>
    <logger name="org.flywaydb.core" level="info"/>
    <logger name="com.epam.dsm" level="${DB_LOG_LEVEL:-DEBUG}"/>
    <logger name="com.zaxxer.hikari" level="info"/>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
</configuration>
